<!doctype html>
<html>
    <head>
        <title>testing result page</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    </head>
    
<h1>You searched for : <%= searchterm %></h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-text">
                        <h5>icon ID: <%= data.profileIconId %></h5>
                        <h5>name: <%= data.name %></h5>
                        <h5>puuid: <%= data.puuid %></h5>
                        <h5>level: <%= data.summonerLevel %></h5>
                        <h5>account ID: <%= data.accountId %></h5>
                        <h5>id: <%= data.id %></h5>
                        <h5>revision date: <%= data.revisionDate %></h5>
                </div>
            </div>
        </div>
    </div>
</div>

</html>
